# Drivers enabled by default
## UEFI
CONFIG_EFI_STUB=y
CONFIG_EFI_BOOTLOADER_CONTROL=y

# Sensors
CONFIG_SENSORS_CORETEMP=m

# USB-3
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_XHCI_PCI=y

# HD Sound card codecs
CONFIG_SND_HDA_CODEC_REALTEK=m
CONFIG_SND_HDA_CODEC_HDMI=m

# Graphic cards
CONFIG_DRM_RADEON=m
CONFIG_DRM_AMDGPU=m

# SD Card Readers
CONFIG_MFD_RTSX_PCI=m

# Management Engines
CONFIG_INTEL_MEI_ME=m

## Common USB devices
# Card reader
CONFIG_MFD_RTSX_USB=m
