## Kernel features
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=y
CONFIG_NLS_CODEPAGE_437=m
CONFIG_NLS_CODEPAGE_850=m
CONFIG_NLS_ISO8859_1=m
CONFIG_NLS_ISO8859_15=m
CONFIG_SND_DYNAMIC_MINORS=y

# Drivers enabled by default
CONFIG_EFI_STUB=y
CONFIG_EFI_BOOTLOADER_CONTROL=y
CONFIG_KVM=m
CONFIG_BRIDGE=m
CONFIG_SENSORS_CORETEMP=m
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_XHCI_PCI=y
CONFIG_SND_HDA_CODEC_REALTEK=m
CONFIG_SND_HDA_CODEC_HDMI=m

# Filesystems
CONFIG_UDF_FS=m
CONFIG_CIFS=m

## Recommended for pulseaudio and HD-Audio
CONFIG_SND_HDA_PREALLOC_SIZE=2048

# Required for chromium/chrome sandbox
CONFIG_NAMESPACES=y
CONFIG_IPC_NS=y

## CUPS does have own USB drivers implementation
# CONFIG_USB_PRINTER is not set

# Drivers disabled by default. Maybe re-enabled in other configuration
# CONFIG_USB_NET_DRIVERS is not set

# CONFIG_WIRELESS is not set
# CONFIG_WLAN is not set

# CONFIG_NETFILTER is not set
# CONFIG_NF_CONNTRACK is not set
# CONFIG_IP_NF_IPTABLES is not set
# CONFIG_IP6_NF_IPTABLES is not set
# CONFIG_NETFILTER_XTABLES is not set
