## Reset some distro-configured settings
CONFIG_DEFAULT_HOSTNAME="(none)"

## Most common boot setup
## Built into kernel allow to boot without initramfs
CONFIG_BLK_DEV_SD=y
CONFIG_SATA_AHCI=y
CONFIG_EXT4_FS=y

## Required for Multilib glibc
CONFIG_IA32_EMULATION=y

## Disable the oldscool pc speaker
CONFIG_EXPERT=y
CONFIG_PCSPKR_PLATFORM=n
