# Re-enable if needed
CONFIG_INPUT_JOYSTICK=n

## CUPS does have own USB drivers implementation
CONFIG_USB_PRINTER=n

## No remote control by default
CONFIG_RC_CORE=n

## No PCMCIA by default
CONFIG_PCCARD=n

## No virtualization client by default
CONFIG_XEN=n
CONFIG_HYPERVISOR_GUEST=n

## Outdated technology
CONFIG_ISDN=n

# Legacy IDE and PATA
CONFIG_ATA_SFF=n

# Most modern SATA devices does not use this
CONFIG_SCSI_LOWLEVEL=n

# No android run
CONFIG_ANDROID=n

# No debug for end-users
CONFIG_DEBUG_KERNEL=n
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=n

# No old-scool media
CONFIG_MEDIA_ANALOG_TV_SUPPORT=n
CONFIG_MEDIA_DIGITAL_TV_SUPPORT=n
CONFIG_MEDIA_RADIO_SUPPORT=n

# No device mapper or LVM
CONFIG_MD=n

# Infiniband hardware is unusual on consumer hardware
CONFIG_INFINIBAND=n
