# Current 6.6
CONFIG_TOUCHSCREEN_88PM860X=n
CONFIG_TOUCHSCREEN_AD7877=n
CONFIG_TOUCHSCREEN_AD7879_I2C=n
CONFIG_TOUCHSCREEN_AD7879=n
CONFIG_TOUCHSCREEN_AD7879_SPI=n
CONFIG_TOUCHSCREEN_ADC=n
CONFIG_TOUCHSCREEN_ADS7846=n
CONFIG_TOUCHSCREEN_AR1021_I2C=n
CONFIG_TOUCHSCREEN_ATMEL_MXT=n
CONFIG_TOUCHSCREEN_ATMEL_MXT_T37=n
CONFIG_TOUCHSCREEN_AUO_PIXCIR=n
CONFIG_TOUCHSCREEN_BU21013=n
CONFIG_TOUCHSCREEN_BU21029=n
CONFIG_TOUCHSCREEN_CHIPONE_ICN8318=n
CONFIG_TOUCHSCREEN_CHIPONE_ICN8505=n
CONFIG_TOUCHSCREEN_COLIBRI_VF50=n
CONFIG_TOUCHSCREEN_CY8CTMA140=n
CONFIG_TOUCHSCREEN_CY8CTMG110=n
CONFIG_TOUCHSCREEN_CYTTSP4_CORE=n
CONFIG_TOUCHSCREEN_CYTTSP4_I2C=n
CONFIG_TOUCHSCREEN_CYTTSP4_SPI=n
CONFIG_TOUCHSCREEN_CYTTSP5=n
CONFIG_TOUCHSCREEN_CYTTSP_CORE=n
CONFIG_TOUCHSCREEN_CYTTSP_I2C=n
CONFIG_TOUCHSCREEN_CYTTSP_SPI=n
CONFIG_TOUCHSCREEN_DA9034=n
CONFIG_TOUCHSCREEN_DA9052=n
CONFIG_TOUCHSCREEN_DMI=n
CONFIG_TOUCHSCREEN_DYNAPRO=n
CONFIG_TOUCHSCREEN_EDT_FT5X06=n
CONFIG_TOUCHSCREEN_EETI=n
CONFIG_TOUCHSCREEN_EGALAX=n
CONFIG_TOUCHSCREEN_EGALAX_SERIAL=n
CONFIG_TOUCHSCREEN_EKTF2127=n
CONFIG_TOUCHSCREEN_ELAN=n
CONFIG_TOUCHSCREEN_ELO=n
CONFIG_TOUCHSCREEN_EXC3000=n
CONFIG_TOUCHSCREEN_FUJITSU=n
CONFIG_TOUCHSCREEN_GOODIX=n
CONFIG_TOUCHSCREEN_GUNZE=n
CONFIG_TOUCHSCREEN_HAMPSHIRE=n
CONFIG_TOUCHSCREEN_HIDEEP=n
CONFIG_TOUCHSCREEN_HIMAX_HX83112B=n
CONFIG_TOUCHSCREEN_HYCON_HY46XX=n
CONFIG_TOUCHSCREEN_HYNITRON_CSTXXX=n
CONFIG_TOUCHSCREEN_ILI210X=n
CONFIG_TOUCHSCREEN_ILITEK=n
CONFIG_TOUCHSCREEN_IMAGIS=n
CONFIG_TOUCHSCREEN_IMX6UL_TSC=n
CONFIG_TOUCHSCREEN_INEXIO=n
CONFIG_TOUCHSCREEN_IPROC=n
CONFIG_TOUCHSCREEN_IQS5XX=n
CONFIG_TOUCHSCREEN_IQS7211=n
CONFIG_TOUCHSCREEN_MAX11801=n
CONFIG_TOUCHSCREEN_MC13783=n
CONFIG_TOUCHSCREEN_MCS5000=n
CONFIG_TOUCHSCREEN_MELFAS_MIP4=n
CONFIG_TOUCHSCREEN_MIGOR=n
CONFIG_TOUCHSCREEN_MMS114=n
CONFIG_TOUCHSCREEN_MSG2638=n
CONFIG_TOUCHSCREEN_MTOUCH=n
CONFIG_TOUCHSCREEN_MX25=n
CONFIG_TOUCHSCREEN_MXS_LRADC=n
CONFIG_TOUCHSCREEN_NOVATEK_NVT_TS=n
CONFIG_TOUCHSCREEN_PCAP=n
CONFIG_TOUCHSCREEN_PENMOUNT=n
CONFIG_TOUCHSCREEN_PIXCIR=n
CONFIG_TOUCHSCREEN_RASPBERRYPI_FW=n
CONFIG_TOUCHSCREEN_RM_TS=n
CONFIG_TOUCHSCREEN_ROHM_BU21023=n
CONFIG_TOUCHSCREEN_S6SY761=n
CONFIG_TOUCHSCREEN_SILEAD=n
CONFIG_TOUCHSCREEN_SIS_I2C=n
CONFIG_TOUCHSCREEN_ST1232=n
CONFIG_TOUCHSCREEN_STMFTS=n
CONFIG_TOUCHSCREEN_STMPE=n
CONFIG_TOUCHSCREEN_SUN4I=n
CONFIG_TOUCHSCREEN_SUR40=n
CONFIG_TOUCHSCREEN_SURFACE3_SPI=n
CONFIG_TOUCHSCREEN_SX8654=n
CONFIG_TOUCHSCREEN_TI_AM335X_TSC=n
CONFIG_TOUCHSCREEN_TOUCHIT213=n
CONFIG_TOUCHSCREEN_TOUCHRIGHT=n
CONFIG_TOUCHSCREEN_TOUCHWIN=n
CONFIG_TOUCHSCREEN_TPS6507X=n
CONFIG_TOUCHSCREEN_TS4800=n
CONFIG_TOUCHSCREEN_TSC2004=n
CONFIG_TOUCHSCREEN_TSC2005=n
CONFIG_TOUCHSCREEN_TSC2007_IIO=n
CONFIG_TOUCHSCREEN_TSC2007=n
CONFIG_TOUCHSCREEN_TSC200X_CORE=n
CONFIG_TOUCHSCREEN_TSC_SERIO=n
CONFIG_TOUCHSCREEN_USB_3M=n
CONFIG_TOUCHSCREEN_USB_COMPOSITE=n
CONFIG_TOUCHSCREEN_USB_DMC_TSC10=n
CONFIG_TOUCHSCREEN_USB_E2I=n
CONFIG_TOUCHSCREEN_USB_EASYTOUCH=n
CONFIG_TOUCHSCREEN_USB_EGALAX=n
CONFIG_TOUCHSCREEN_USB_ELO=n
CONFIG_TOUCHSCREEN_USB_ETT_TC45USB=n
CONFIG_TOUCHSCREEN_USB_ETURBO=n
CONFIG_TOUCHSCREEN_USB_GENERAL_TOUCH=n
CONFIG_TOUCHSCREEN_USB_GOTOP=n
CONFIG_TOUCHSCREEN_USB_GUNZE=n
CONFIG_TOUCHSCREEN_USB_IDEALTEK=n
CONFIG_TOUCHSCREEN_USB_IRTOUCH=n
CONFIG_TOUCHSCREEN_USB_ITM=n
CONFIG_TOUCHSCREEN_USB_JASTEC=n
CONFIG_TOUCHSCREEN_USB_NEXIO=n
CONFIG_TOUCHSCREEN_USB_PANJIT=n
CONFIG_TOUCHSCREEN_USB_ZYTRONIC=n
CONFIG_TOUCHSCREEN_WACOM_I2C=n
CONFIG_TOUCHSCREEN_WACOM_W8001=n
CONFIG_TOUCHSCREEN_WDT87XX_I2C=n
CONFIG_TOUCHSCREEN_WM831X=n
CONFIG_TOUCHSCREEN_WM9705=n
CONFIG_TOUCHSCREEN_WM9712=n
CONFIG_TOUCHSCREEN_WM9713=n
CONFIG_TOUCHSCREEN_WM97XX=n
CONFIG_TOUCHSCREEN_ZET6223=n
CONFIG_TOUCHSCREEN_ZFORCE=n
CONFIG_TOUCHSCREEN_ZINITIX=n

# 2023 Removed in 6.3
CONFIG_TOUCHSCREEN_UCB1400=n

# 2023 Removed in 6.4
CONFIG_TOUCHSCREEN_MK712=n
