# Intel Management Engine
CONFIG_INTEL_MEI=m
CONFIG_INTEL_MEI_ME=m

# Intel power and thermal management
CONFIG_INT3406_THERMAL=m
CONFIG_INT340X_THERMAL=m
CONFIG_INTEL_POWERCLAMP=m
CONFIG_INTEL_PCH_THERMAL=m
CONFIG_POWERCAP=y
CONFIG_INTEL_RAPL=m

CONFIG_MFD_INTEL_LPSS_PCI=m

# Intel 64bit DMA
CONFIG_INTEL_IDMA64=m

# Skylake PIN controller
CONFIG_PINCTRL=y
CONFIG_PINCTRL_SUNRISEPOINT=m

# Misc Intel chipset drivers
CONFIG_USB_ROLES_INTEL_XHCI=m
