# Hypervisor / Guest-Tools
CONFIG_HYPERVISOR_GUEST=y
CONFIG_VBOXGUEST=m

## Hardware: https://wiki.gentoo.org/wiki/VirtualBox
## HDD
CONFIG_ATA=y
CONFIG_SATA_AHCI=y
CONFIG_ATA_SFF=y
CONFIG_ATA_BDMA=y
CONFIG_ATA_PIIX=y

## Network
CONFIG_NET_VENDOR_INTEL=y
CONFIG_E1000=m

## Input
CONFIG_INPUT_KEYBOARD=y
CONFIG_KEYBOARD_ATKBD=y
CONFIG_INPUT_MOUSE=y
CONFIG_MOUSE_PS2=y

## Virt IO
CONFIG_VIRTIO_MENU=y
CONFIG_VIRTIO_PCI=y

## Graphics
CONFIG_DRM=y
# VMSVGA
CONFIG_DRM_VMWGFX=m
DRM_VMWGFX_MKSSTATS=y
# VBoxSVGA
CONFIG_DRM_VBOXVIDEO=m
# Framebuffer
CONFIG_FB=y
CONFIG_FIRMWARE_EDID=y
CONFIG_FB_SIMPLE=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y

# Sound
CONFIG_SOUND=m
CONFIG_SND=m
CONFIG_SND_PCI=y
CONFIG_SND_INTEL8X0=m

# USB
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_EHCI_HCD=y
