###### Kernel Source and Version #######################################
## Kernel sources path
# KERNEL_SOURCE_PATH=/usr/src/linux

## Appends suffix to the kernel version (useful to get multiple kernels with same upstream version)
# KERNEL_LOCALVERSION=""

###### Kernel configuration ############################################
## Kernel arch (by obsolute path)
# CFG_DEFCONFIG="/usr/src/linux/arch/x86/configs/x86_64_defconfig"

## As alternative the distro default config provided by kernel_cfg
# CFG_DEFCONFIG="gentoo-fedora-x86_64.config" # from Gentoo sys-kernel/gentoo-kernel
# CFG_DEFCONFIG="gentoo-genkernel.config"     # from Gentoo sys-kernel/genkernel
# CFG_DEFCONFIG="archlinux.config"            # from Arch Linux package

## Configuration path. By default in application subdir
# CFG_PATH="$APPL_DIR"/cfg             # Project path
# CFG_PATH="/etc/kernel/config.avail"  # installation path
# CFG_PATH="/etc/kernel/config.d/"     # selected by eselect kernel-cfg


## Configuration Modules to be applied
#CFG_MODULES="*"  # Install all modules or choose
CFG_MODULES="00_defaults.config
	10*
	99*"


###### Kernel Installation #############################################
## Install target for bzImage and config file
# INSTALL_TARGET=/boot

## Post installation action script
# INSTALL_POST_ACTION='emerge -vaj @module-rebuild'
