## Kernel sources path
# KERNEL_SOURCE_PATH=/usr/src/linux

## Appends suffix to the kernel version (useful to get multiple kernels with same upstream version)
# KERNEL_LOCALVERSION=""

## Kernel arch
# BASE_DEFCONFIG="arch/x86/configs/x86_64_defconfig"

## Configuration path. By default in application subdir
# CFG_PATH="$APPL_DIR"/cfg

## Configuration Modules to be applied
CFG_MODULES="00* 10*
	30_hwsupport_bluetooth.config
	30_hwsupport_wifi.config
	99*"
